.jumbotron {
    position: relative;
}
.jumbotron h1 {
    font-size: 60px;
    font-weight: bold;
    letter-spacing: -1px;
    line-height: 1;
    margin-bottom: 9px;
}
.jumbotron p {
    font-weight: 300;
    margin-bottom: 18px;
}
.jumbotron .btn-large {
    border-radius: 6px 6px 6px 6px;
    font-size: 20px;
    font-weight: normal;
    margin-right: 10px;
    padding: 14px 24px;
}
.jumbotron .btn-large small {
    font-size: 14px;
}
.masthead {
    margin-bottom: 30px;
    padding-top: 36px;
}
.masthead h1, .masthead p {
    text-align: center;
}
.masthead h1 {
    margin-bottom: 18px;
}
.masthead p {
    font-size: 30px;
    line-height: 36px;
    margin-left: 5%;
    margin-right: 5%;
}

.row {
  margin-bottom: 20px;
}